body {
  background-color: rgb(53, 53, 53);
}
.navbar-list {
  list-style: none; /* Remove default list styles */
  padding: 0;
  display: flex; /* Display the list items horizontally */
}

.navbar-link {
  display: inline-block; /* Make links behave as blocks */
  padding: 10px 75px; /* Add padding to create boxes */

  margin-right: 10px; /* Add margin between the boxes */
  text-decoration: none; /* Remove underline from links */
  color: #000000; /* Text color */
  font-family: "Roboto Mono", monospace;
  font-size: 13px;
  font-weight: bold;
}

.navbar-link:hover {
  background-color: #67676740; /* Background color on hover */
  border-radius: 60px;
}

.container {
  display: flex;
  justify-content: end;
  padding-top: 20px;
  padding-right: 50px;
  height: 50px;
  background-color: black;
  padding-bottom: 20px;
}

.navbarHeader {
  background-color: #89cff0;
  color: #89cff0;
  display: flex;
  width: 700px;
  justify-content: center;
  align-items: center; /* Center children vertically */
  border: 2px #89cff0 solid;
  border-radius: 60px;
}
